Layouts:Article Library Search Layout

- al-pc-listResultLink
- al-pc-category
- al-pc-listPagination
- al-pc-resultsPerPage
- al-pc-displayedResults
- al-pc-displayedResultStart
- al-pc-displayedResultEnd
- al-pc-allResults al-allResults
- al-pc-displayedList

Layouts:Article Library Result Layout
- al-pc-listResultLink
- al-pc-keyword
- al-pc-category
- al-pc-listPagination
- al-pc-resultsPerPage

Layouts:Article Library Details Layout
- al-pc-article-image
- al-pc-articleTitle
- al-pc-authorDate
- al-pc-articleDetails
- al-pc-detailPageLinks
