<!DOCTYPE HTML>
<html>
  <head>
    <!-- ///////////// CSS /////////////// -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="articleLibrary.css" rel="stylesheet">

    <!-- ///////////// JS /////////////// -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.snippet.min.js"></script>
		<script type="text/javascript" src="../js/jquery.easyPaginate.js"></script>
  </head>

  <body>
    <div class="articleLibrary">
      <div class="articleLibraryWrapper">
      <!-- SEARCH AND FILTER TOOLS -->

          <div class="al-searchTools">
            <div class="al-fieldData form-group">
              <input class="al-pc-keyword al-keyword form-control" type="Text" name="key" placeholder="Keyword">
            </div>
            <div class="al-fieldData form-group">
              <select size="1" name="cat" class="al-pc-category al-category form-control">
                <option value="">Category</option>
                <option value="1">ACategory</option>
              </select>
            </div>
            <div class="al-buttonContainer">
              <button type="submit" class="btn btn-default">Search</button>
            </div>
          </div>

      <!-- FEATURED ARTICLES / NEWEST ITEMS LIST (Limit 10) / LIST RESULTS -->
      <div class="al-pc-listResults al-listResults">
        <h2>Search Results</h2>
        <div class="al-pc-displayedResults al-displayedResults al-dr-Top">Showing <span class="al-pc-displayedResultStart al-displayedResultStart">1</span> through <span class="al-pc-displayedResultEnd al-displayedResultEnd">10</span> of <span class="al-pc-allResults al-allResults">35</span> <span class="al-pc-displayedList al-displayedList">results</span> </div>
        <!-- First Item -->
        <a class="al-pc-listResultLink al-listResultLink" href="#">
          <div class="al-listResult well">
            <div class="al-listImg"><img src="{{ImgSource}}"></div>
            <div class="al-listContent">
              <div class="al-itemTitle">{{Title}}</div>
              <div class="al-itemDescription">
                {{Description}}
                <span class="readMore text-primary">Read More</span>
              </div>
              <div class="al-itemDate"><strong class="boldedText">Date: </strong><span>{{Date}}</span></div>
              <div class="al-itemAuthor"><strong>Author: </strong><span>{{Author}}</span></div>
            </div>
          </div>
        </a>

        <!-- Second Item -->
        <!-- Third Item -->
        <!-- Fourth Item -->
        <!-- Fifth Item -->
        <div class="al-pc-displayedResults al-displayedResults">Showing <span class="al-pc-displayedResultStart al-displayedResultStart">1</span> through <span class="al-pc-displayedResultEnd al-displayedResultEnd">10</span> of <span class="al-pc-allResults al-allResults">35</span> <span class="al-pc-displayedList al-displayedList">results</span> </div>
        <div class="al-paginationULs">
          <!-- Pages -->
          <ul class="al-pc-listPagination al-listPagination pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>

          <!-- Results Per Page -->
          <ul class="al-pc-resultsPerPage al-resultsPerPage pagination">
            <li><a href="#">10</a></li>
            <li class="active"><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
          </ul>
        </div>

      </div>
    </div>
    </div>
  </body>
</html>
